# Ambiente virtual
venv/

# Arquivos temporários do Python
__pycache__/
*.py[cod]

# Configs locais e arquivos sensíveis
*.env
.python-version

# Diretórios internos específicos
aplicacao/__pycache__/
aplicacao/.env

# Arquivos de cache e logs
*.log

# Ignorar tudo dentro de results/ e uploads/
aplicacao/results/*
aplicacao/uploads/*

!results/.gitkeep
!uploads/.gitkeep


resultTests