{% extends 'layout_base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div>
    <h1>Bem-vindo ao AGSSA</h1>
    <p class="description">
        AGSSA (Advanced Genotyping with Semi-Supervised Algorithm) é uma
        plataforma inovadora desenvolvida na Universidade do Estado da Bahia,
        projetada para oferecer uma solução eficiente na genotipagem de sequências virais.
        Nossa missão é simplificar o processo de treinamento e análise de dados genômicos para pesquisadores.
        OBS:"A opção de (Treinamento sem Pré-Processamento) é indicada para usuários que desejam utilizar modelos já treinados"
    <div class="buttons">
        <a href="{{ url_for('treinamento') }}" class="button">Treinamento com Pré-Processamento</a>
        <a href="{{ url_for('treinamento_direto') }}" class="button">Treinamento sem Pré-Processamento</a>
        <a href="{{ url_for('analise') }}" class="button">Genotipagem de Sequências</a>
    </div>
</div>

{% if session.get('upload_success') %}
<script>
    window.onload = function () {
        alert("Os arquivos estão sendo processados e o resultado será enviado para o email cadastrado.");
        fetch('/clear_session', { method: 'POST' });  // Requisição para limpar a sessão
    };
</script>
{% endif %}
{% endblock %}